@import '../../styles/light-dark.scss';

mat-toolbar-row {
  padding: 0 20%;
  place-content: stretch space-between;

  input {
    color: $light;
  }

  .left-margin {
    margin-left: 20px;
  }

  #search-form {
    width: 100%;
  }
}
