<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Things With Strings</span>
    <div fxLayout="row">
      <div *ngFor="let value of categories; first as isFirst; last as isLast">
        <a href="javascript:void(0)" [ngClass]="{ 'left-margin': !isFirst }">{{ value | titlecase }}</a>
        <span [ngClass]="{ 'left-margin': !isLast }">{{ (isLast) ? '' : '|' }}</span>
      </div>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <mat-form-field id="search-form">
      <input type="search" matInput placeholder="Search">
      <mat-icon matSuffix class="clickable">search</mat-icon>
    </mat-form-field>
    <div class="flex-container" fxLayoutAlign="space-between"></div>
    <div>
      <mat-icon class="clickable left-margin">person</mat-icon>
      <mat-icon class="clickable left-margin">settings</mat-icon>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
