<div class="main">
  <div fxLayout="row" fxLayoutAlign="space-between center" id="about">
    <div>
      <img src="/assets/coming_soon.jpg" class="about-img">
    </div>
    <div>
      <h1 class="bold mat-h1 primary-text">
        About Us
      </h1>
      <p class="mat-body-2">
        {{ aboutus }}
      </p>
    </div>
  </div>

  <div id="team">
    <h1 class="bold mat-h1 primary-text">
      Team
    </h1>
    <mat-grid-list cols="3" rowHeight="1:1">
      <mat-grid-tile *ngFor="let position of team_positions">
        <mat-card class="team-card">
          <mat-card-header>
            <mat-card-title>
              <p>{{ team[position].name }}</p><br>
            </mat-card-title>
            <mat-card-subtitle>
              <p class="bold">{{ team[position].title }}</p>
            </mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="/assets/coming_soon2.jpg" class="team-img">
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div id="contact">
    <h1 class="bold mat-h1 primary-text">
      Contact Us
    </h1>
    <p>
      {{ contactus }}
    </p>
  </div>
</div>
