@mixin footer-theme($color) { //! edit
  .toggled-color {
    color: $color !important;
  }
}

mat-divider {
  margin: 10% 0;
}

.about-img {
  max-width: 50%;
}

#team {
  .team-card {
    height: 80%;
    margin: 0 5%;

    .team-img {
      display: block;
      height: 40%;
      margin: 0 auto;
      max-width: 100%;
      object-fit: contain;
    }
  }
}
