@import '~@angular/material/theming';
@import './light-dark.scss';

@include mat-core();

$light-primary: mat-palette($mat-red, 800);
$light-accent: mat-palette($mat-indigo, 800);
$dark-primary: mat-palette($mat-red, 900);
$dark-accent: mat-palette($mat-indigo, 900);
$theme-warn: mat-palette($mat-deep-orange);

$light-theme: mat-light-theme($light-primary, $light-accent, $theme-warn);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $theme-warn);

@include angular-material-theme($light-theme);
$primary: mat-color($light-primary);
$accent: mat-color($light-accent);
@include light-dark($light);

.dark-theme {
  @include angular-material-theme($dark-theme);
  $primary: mat-color($dark-primary);
  $accent: mat-color($dark-accent);
  @include light-dark($dark);
}
