@import './styles/app-theme.scss';
@import './styles/light-dark.scss';

$hover: #28c6c6;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  a {
    color: $light;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      color: $hover;
    }

    &:visited {
      color: #938628;
    }
  }

  mat-icon:hover {
    color: $hover;
  }

  .clickable {
    cursor: pointer;
  }
}
