@import './app-theme.scss';

$light: #fafafa;
$dark: #212121;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  a {
    color: $light;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      color: #28c6c6;
    }

    &:visited {
      color: #938628;
    }
  }
}
