$primary-color: #e6240e;
$secondary-color: #240ee6;
$tertiary-color: #0ed0e6;
$dark-color: #141414;
$light-color: #ebebeb;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
